<div class="columna" id="box2">
    <button class="retroceder">&lt;</button>
        <div class="lenguaje">
            <h2>TypeScript</h2>
            <img src="{{ .Site.BaseURL }}/typescript.webp" width="80px" alt="">
            <table border="1">
                <tbody>
                    <tr>
                        <th>Aspecto</th>
                        <td>Superset de JavaScript</td>
                    </tr>
                    <tr>
                        <th>Compilador</th>
                        <td>No es compilado, es interpretado</td>
                    </tr>
                    <tr>
                        <th>Creador</th>
                        <td>Rasmus Lerdorf</td>
                    </tr>
                    <tr>
                        <th>Fecha de Creación</th>
                        <td>1994</td>
                    </tr>
                    <tr>
                        <th>Versión</th>
                        <td>PHP 8</td>
                    </tr>
                    <tr>
                        <th>Licencia</th>
                        <td>PHP License</td>
                    </tr>
                    <tr>
                    <th>Tipado</th>
                    <td>Flexible (Casting implícito)</td>
                    </tr>
                    <tr>
                    <th>Paradigma</th>
                    <td>Imperativo</td>
                    </tr>
                    <tr>
                    <th>Orientación</th>
                    <td>Objetos</td>
                    </tr>
                    <tr>
                    <th>Sintáxis</th>
                    <td>Case sensitive</td>
                    </tr>
                    <tr>
                    <th>Notas</th>
                    <td>La diferencia entre ámbitos en las variables es tan marcada que casi se consideran archivos distintos, para que no se modifiquen tus varaibles iniciales</td>
                    </tr>
                </tbody>
            </table>    

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">                                       
                    <pre class="prettyprint lang-php">   
//Superclase
class Vehiculo{
//Atributos/Campos
//Los var son public por defecto, no hace falta poner public
    private $color;
    protected $ruedas;
    var $motor 

//Este atributo/campo pertencera a la clase
    private static $tipo_vehicuo = "Terrestre" 

//Si no existe metodo contructor, se crea uno vacio por defecto
//Metodo constructor (estado inicial al instanciar)
//$this hace referencia al objeto instanciado ACTUAL
    public function __construct($color){
        $this->ruedas=4;
        $this->color=$color; 
    }

//Metodo/funcion
    function arrancar(){
        echo "Arranca &lt;br&gt;"
    }

    funcion tipo_motor($motor){
        $this->motor=$motor;
        echo "El motor del coche es " . $this->motor . "&lt;br&gt;";
    }

    function get_color(){
        return $this->color;
    }

    function get_ruedas(){
        return $this->ruedas;
    }

//Si queremos modificar un atributo de clase hay que hacerlo con un metodo de clase
    static function set_tipo_vehicuo($tipo_vehicuo){ 
        return self::$tipo_vehicuo;
    }

//Si queremos obtener un atributo de clase podemos hacerlo a traves del objeto o a traves de su clase
    function get_tipo_vehicuo(){ 
        return self::$tipo_vehicuo;
    }

}
                                                        
//Subclase
class Coche extends Vehiculo{

    //Si no existe metodo contructor, se crea uno vacio por defecto
    //Metodo constructor(estado inicial al instanciar)
    public function __construct($color){
        $this->ruedas=4;
        $this->color=$color;
        //$this hace referencia al objeto instanciado ACTUAL
    }

    //Metodo/funcion
    function arrancar(){
        parent::arrancar();
        echo "El motor ruge como el de un coche &lt;br&gt;"
    }

    // Realizamos una sobreescritura de metodos pero con $motor_coche
    funcion tipo_motor($motor_coche){
        $this->motor=$motor_coche;
        echo "El motor del coche es " . $this->motor . "&lt;br&gt;";
    }
}






                    </pre> 
                    <pre class="prettyprint lang-php"> 
//Instancia del objeto ===============
include("Archivo_clase_Coche.php"); //importo la clase   


new Coche();
$renault = new Coche("rojo"); //no es obligatorio los paréntesis si el constructor esta vacio (en java si)
$mazda = new Coche("azul");
$seat = new Coche("verde");

//Porpiedades de objeto ===============
$mazda->color="Rosa"; //Error, la propiedad es privada para que otro programador no pueda modificarlo, (abria que recurir al metodo set)
echo "Color : " . $mazda->color; //Si la propiedd es privada no podemos ver su atributo, (abria que recurir al metodo get)
echo "Color : " . $mazda->get_color(); // mazda al ser un objeto de su clase aunque este en private, tiene acceso
echo "Color : " . $truck->get_color(); // truck al ser un objeto de la clase hija no puede acceder el atributo color de su clase padre porque esta en private, para que pueda hacerlo tiene que estar en protected
//Porpiedades de la clase ===============
Vehiculo::$tipo_vehicuo = "Lo que me de la gana" //La propiedad de la clase no se puede acceder a traves del objeto, porque pertenece solo a la clase, tambien deberia ser privada para no poder manipularla

//Metodos ===============
$renault->arrancar();
$renault->tipo_motor(1600)
Vehiculo::set_tipo_vehicuo("estandar") //Los metodos de la clase, se utilizan con la clase







                    </pre>  
                </div>
                <div class="legend">
                    <div class="active">Clase</div>
                    <div>Instanciar clase</div>
                </div>
            </div>
         
            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">  
                    <pre class="prettyprint lang-php">                          
//Llamada a función normal =========                                                
function mi_funcion(){
//code
return "resultado"; //Opcional
}
mi_funcion();

//Paso de parametro =========
//Recuerda que el ambito local de la variable esta aislada del exterior (no como en javascript)
function mi_funcion_con_parametros($parametro1,$parametro2){
//code
}
mi_funcion_con_parametros("ejemplo_parametro","ejemplo_parametro_2");

//Paso de parametro por defecto =========
//Recuerda que el ambito local de la variable esta aislada del exterior (no como en javascript)
function mi_funcion_default($parametro1,$parametro2 = true){

$parametro1 = strtolower($parametro1);
if($parametro2){
$resultado = ucwords($parametro1);
}else{
"has modificado el parametro por defecto";
}
}
mi_funcion_default("ejemplo_parametro");
mi_funcion_default("ejemplo_parametro",false);

//Paso de parametro por valor =========
function incrementa($param){
$param++;
return $param;
}
$num = 5
echo incrementa($num); //6
ehco $num; //5

//Paso de parametro por referencia =========
function incrementa(&$param){ //Ojo al ampersand(&) 
$param++;
return $param;
}
$num = 5
echo incrementa($num); //6
ehco $num; //6 //Al pasarlo por referencia se mantiene

//Llamada a funcion desde documento externo =========
include("archivo.php"); //function_externa se encuentran en este archivo
require("archivo.php"); //detiene el flujo de ejecución si no lo encuentra
function_externa();









                    </pre>

                    <pre class="prettyprint lang-php">   
----
                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Funciones</div>
                    <div>---</div>
                </div>
            </div> 
            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="3">                                       
                    <pre class="prettyprint lang-php"> 
//Las contantes tienen un ambito global por defecto
//Solo pueden alamcenar valores escalares (osea no divisibles, como un array por ejemplo)

// Constantes propias
define("NOMBRE_CONSTANTE","Juan"); // Se define con funciones predefinidas

echo NOMBRE_CONSTANTE; //Juan
echo "Nombre: NOMBRE_CONSTANTE"; //Nombre: NOMBRE_CONSTANTE
echo "Nombre: " . NOMBRE_CONSTANTE; //Nombre: Juan
echo "Nombre: " . nombre_constante; //Error

define("NOMBRE_CONSTANTE","Juan", true); 
echo "Nombre: " . nombre_constante"; //Nombre: Juan

define("NOMBRE_CONSTANTE","Pepe"); 
define("NOMBRE_CONSTANTE","Ana"); 
echo "Nombre: " . nombre_constante"; //Error (las constantes no se redefinen)

define("NOMBRE_CONSTANTE","Pepe", true); 
define("NOMBRE_CONSTANTE","Ana"); 
echo "Nombre: " . nombre_constante"; //Nombre: Ana (debido al true php diferencia uno de otro)
            







                    </pre> 

                    <pre class="prettyprint lang-php">                          
// Constantes predefinidas 
<a href="https://www.php.net/manual/es/language.constants.php">https://www.php.net/manual/es/language.constants.php</a>
PI

echo "La linea donde me encuentro: " . __FILE__;
echo "El fichero/archivo con el que estoy trabajando es: " . __FILE__;
                    </pre>  
                    
                    <pre class="prettyprint lang-php">                          
const int NUM = 23
const double NUM = 23.0



const GenerateRandomNumber = max => {
returnMath.floor(Math.random() * (max + 1));
};  
const randomNumber = GenerateRandomNumber(10)

const GenerateRandomNumber = (min, max) => {
return Math.floor(Math.random() * (max+1 - min) + min);
};
const randomNumber = GenerateRandomNumber(10, 20)

console.log(randomNumber)
                    </pre>   
                </div>
                <div class="legend">
                    <div class="active">Constantes propias</div>
                    <div>Constantes predefinidas</div>
                    <div><img src="img/Anexo/frio.png" alt="" width="80px"></div>
                </div>
            </div>

            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="3">                                       
                    <pre class="prettyprint lang-php"> 
$numero;
$numero = 23;
$numero = 2.3;
//======================== 
echo "Número: " . $num;
//======================== 

                    </pre>
                    <pre class="prettyprint lang-php">     
$cadena = "5"
$resultado = (int)$cadena
                    </pre>
                    <pre class="prettyprint lang-php">    
$num = rand();
$num = rand(0,10);
$num = pow(2,2);
echo "numero redondeado" . round($num,2);

$random = rand(); //infito
$random = rand(0,10); // 0 ~ 10
echo "Numero random" . $random

$random = rand(); //infito
$random = rand(0,10); // 0 ~ 10
echo "Numero random" . $random
                    </pre>
                </div> 
            <div class="legend">
                <div class="active">Numericos</div>
                <div>Castear numericos</div> 
                <div>Funciones predefinidas</div>                       
            </div>
        </div>


            <hr>

        <div class="card_effect"> 
            <div class="carrusel-images" data-num="3">                                       
                <pre class="prettyprint lang-php"> 
$ejemplo = 'hola';

$nombre = "string_ejemplo";
$nombre = 'string_ejemplo'; //litral
print 'Mi nombre es $nombre'; //literal
print "Mi nombre es $nombre";
                </pre>
                <pre class="prettyprint lang-php">     
$num = 5
$resultado = $num . "" //truco para castear a string
                </pre>
                <pre class="prettyprint lang-php">    
// Comparar Strings =========
// 0 = false (coinciden)                 
// 1 = true (no coinciden)
$var1 = "Casa";  
$var2 = "CASA";
$resultado = strcmp($var1,$var2); //devuelve 1 si no son iguales o 0 si lo son 
$resultado = strcasecmp($var1,$var2); //ignora las mayus

If(!$resultado){ // el 0 o el 1 se trata como booleano
echo "coinciden";
}else{
echo "no coinciden";
}  

//Cambiar caracteres =========
strtolower("hola mundo")//hola mundo
strtoupper("hola mundo")//HOLA MUNDO
ucwords("hola mundo")









                </pre>
            </div> 
            <div class="legend">
                <div class="active">Cadena de carácteres</div>
                <div>Castear a String</div>
                <div>Funciones predefinidas</div>
            </div>
        </div>
        
        <hr> 

        <div class="card_effect"> 
            <div class="carrusel-images" data-num="3">  
                <pre class="prettyprint lang-php">
//Arrays Indexados de una dimensión==================                             
$semana[] = "Lunes"; //se asocia automatica mente al índice [O]
$semana[1] = "Martes"; //Tambien de puede especificar el índice de forma manual
$semana[] = "Miercoles"; //se asocia automatica mente al índice [2]
echo $semana[0];
//---------------------
$semana = array("Lunes","Martes","Miércoles");
echo $semana[0];
$datos[]="Jueves"; //Agregar un elemento al final

//Arrays Indexados de dos dimensiónes==================    

//Arrays Asociativos de una dimensión==================    
$datos = array("Nombre"=>"Juan",
       "Apellido"=>"Gómez",
       "Edad"=>27);
echo $datos["Nombre"];
$datos["Pais"]="España"; //Agregar un elemento al final

//Arrays Asociativos de dos dimensiónes================== 
$alimentos = array("fruta"=>array("tropical"=>"kiwi"),
                          "cítrico"=>"mandarina",
                          "otros"=>"manzana"),

           "leche"=>array("animal"=>"vaca",
                          "vegetal"=>"coco"),

           "carne"=>array("vacuno"=>"lomo",
                          "porcino"=>"pata"));

echo $alimentos["carne"]["vacuno"];







                </pre>
                <pre class="prettyprint lang-php">   
$datos = array("Nombre"=>"Juan",
       "Apellido"=>"Gómez",
       "Edad"=>27);
sort($datos) //Ordena por orden alfabético



                </pre>
                <pre class="prettyprint lang-php">   
-



                </pre>
            </div>
            <div class="legend">
                <div class="active">Variables de Arrays</div>
                <div>Funciones predefinidas de Arrays</div>
                <div>-</div>
            </div>
        </div> 

        <hr>

        
        <div class="card_effect"> 
            <div class="carrusel-images" data-num="2">  
                <pre class="prettyprint lang-javascript">
let empleados = ['Juan','Antonio','Pepe']
let empleados: Array&lt;Strings> = ['Juan','Antonio','Pepe']
let empleados: Strings[] = ['Juan','Antonio','Pepe']


let estado = (empelado) => {
    console.log(`El empleado se llama ${empelado}`)
}
let estado = (empelado:string) : void => {
    console.log(`El empleado se llama ${empelado}`)
}


//Por cada elemento en el array...
let empleados.map( nombre => { estado(nombre) })
let empleados.map( (nombre:string) :void  => { estado(nombre) })




                </pre>
                <pre class="prettyprint lang-javascript"> 
-
                </pre>
            </div>
            <div class="legend">
                <div class="active">Variables de funciones</div>
                <div>-</div>
            </div>
        </div> 

        <hr>

        <div class="card_effect"> 
            <div class="carrusel-images" data-num="2">  
                <pre class="prettyprint lang-php">                          
-
                    </pre>

                    <pre class="prettyprint lang-php">   
let mensaje = "Hola mundo"
typeof //'Hola mundo'

                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Datos de salida</div>
                    <div>Funciones predefinidas</div>
                </div>
            </div> 
            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="3">  
                    <pre class="prettyprint lang-php">                          
if($edad>=18){
echo "Eres mayor de edad";
}else{
echo "No puedes entrar";
} 

// Ojo con el orden de los operadores en las sentencias
$variable_1 = true
$variable_1 = false

$valor = $variable_1 && $variable_1 
if($valor){
echo "Si";
}else{
echo "No"; //Entra aqui
}      

$valor = $variable_1 and $variable_1 
if($valor){
echo "Si"; //Entra aqui (debido a que '=' se evalua antes que 'and')
}else{
echo "No"; 
}      








                    </pre>

                    <pre class="prettyprint lang-php">   
// Con el operador ternatio puedes guardarlo directamente en un variable o en un echo
$resultado = $edad&lt;18 ? "Eres menor de edad" : "Eres mayor de edad";
echo  $resultado;                    

echo $usuario=="Pepe" && $edad&lt;18 ? "Eres menor de edad" : "Eres mayor de edad";
                    </pre>
                    <pre class="prettyprint lang-php">   
//Con llaves
switch($variable){
case "Juan":
//code
break;
case "Pepe":
//code
break;
case "Antonio":
//code
break;
default:
//code
}

$var1 = "Pepe"
$var2 = 123
switch(true){
case $var1=="Juan" && $var2== 222:
//code
break;
case $var1=="Pepe" && $var2== 123:
//code
break;
case $var1=="Antonio" && $var2== 432:
//code
break;
default:
//code
}

//Sin llaves
switch($variable):
case 1:
//code
break;
case 2:
//code
break;
case 3:
//code
break;
default:
//code
endswitch









                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Condición if</div>
                    <div>Operador ternario</div>
                    <div>Switch Case</div>
                </div>
            </div> 

            <hr>   

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">  
                    <pre class="prettyprint lang-php">                          
$var = 1
while($var&lt;3){
$var++
}
                    </pre>
                    <pre class="prettyprint lang-php">   
$var = 1
Do{
$var++
}while($var&lt;3)
                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Bucle indeterminado: While</div>
                    <div>Bucle indeterminado: Do while</div>
                </div>
            </div> 



            <hr>   

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="3">  
                    <pre class="prettyprint lang-php"> 
// Mientras la condición: $i&lt;= $variable.lenght; sea verdadera, el bucle se activará                                                        
for($i = 0; $i&lt;= 10; $i++){
//i valdrá: 11
}

for($i = 0; $i&lt;= 10 - 1; $i++){
//i valdrá: 10
}

for($i = 0; $i&lt; 10 - 1; $i++){
//i valdrá: 10
}

for($i = 0; $i&lt; 10 - 1; $i++){
if($i==5){
break; // Sale del bucle
}
}
for($i = 0; $i&lt; 10 - 1; $i++){
if($i==5){
continue; // Salta a la siguiente iteracion sin continuar con esta
}
echo "blablabal" // Esta intruccion no se ejecutará si se aplica continue
}

//=========================
$datos = array("Nombre"=> "Pepe",
  "Apellidos" => "Serrano Pérez",
  "Número_teléfono" => 123456789);
  
//Recorrer un Array indexado
for($i = 0; $i < count($datos); $i++){
echo $datos[$i] .  "&lt;br>";
}









                    </pre>
                    <pre class="prettyprint lang-php">
//Recorrer un Array asociativo de una dimensión================== 
$datos = array("Nombre"=> "Pepe",
"Apellidos" => "Serrano Pérez",
"Número_teléfono" => 123456789);

foreach($datos as $clave => $valor){
echo "El índice es $clave y su valor es: $valor &lt;br>";
}

//Recorrer un Array asociativo de dos dimensiónes================== 
$alimentos = array("fruta"=>array("tropical"=>"kiwi"),
                   "cítrico"=>"mandarina",
                   "otros"=>"manzana"),

           "leche"=>array("animal"=>"vaca",
                          "vegetal"=>"coco"),
                          
           "carne"=>array("vacuno"=>"lomo",
                          "porcino"=>"pata"));

foreach($alimentos as $clave => $array_valores){

echo "$clave: &lt;br>";

/* La función each está en desuso
while(list($clave_2,$valor_2)=each($array_valores)){
echo "$clave_2 = $valor_2 &lt;br>";
} */

foreach( $array_valores as $clave_2 => $valor){
echo "$clave_2 = $valor &lt;br>";
}

echo "+++++++ separador +++++++":
}
//---------------------
echo var_dump($alimentos) //Función predefinida que desglosa el array







                    </pre>
                    <pre class="prettyprint lang-php">
$datos = ["Nombre"=> "Pepe",
    "Apellidos" => "Serrano Pérez",
    "Número_teléfono" => 123456789];

is_array($datos) //boolean



                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Bucle determinado: For</div>
                    <div>Bucle determinado: For. v.2</div>
                    <div>Fución predefinada</div>
                </div>
            </div>    

        </div>
    <button class="avanzar">&gt;</button>
</div>