<div class="columna" id="box1">
    <button class="retroceder">&lt;</button>
        <div class="lenguaje">
            <h2>Java</h2>
            <img src="{{ .Site.BaseURL }}/java.png" width="80px" alt="">
            <table border="1">
                <tbody>
                    <tr>
                    <th>Aspecto</th>
                    <td>Lenguaje de Programación Java</td>
                    </tr>
                    <tr>
                    <th>Compilador</th>
                    <td>Javac (JDK)</td>
                    </tr>
                    <tr>
                    <th>Creador</th>
                    <td>James Gosling</td>
                    </tr>
                    <tr>
                    <th>Fecha de Creación</th>
                    <td>1995</td>
                    </tr>
                    <tr>
                    <th>Versión</th>
                    <td>Varía por versión</td>
                    </tr>
                    <tr>
                    <th>Licencia</th>
                    <td>Varía por implementación</td>
                    </tr>
                    <tr>
                    <th>Tipado</th>
                    <td>Fuerte (Casting explícito)</td>
                    </tr>
                    <tr>
                    <th>Paradigma</th>
                    <td>Imperativo</td>
                    </tr>
                    <tr>
                    <th>Orientación</th>
                    <td>Objetos</td>
                    </tr>
                    <tr>
                    <th>Sintáxis</th>
                    <td>Case sensitive</td>
                    </tr>
                    <tr>
                    <th>Notas</th>
                    <td>Diferencia entre ámbito LOCAL y GLOBAL muy marcada</td>
                    </tr>
                </tbody>
            </table>   
            
            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">                           
<pre class="prettyprint lang-java">                          
final int numero = 23;
final double numero = 23.0;
</pre>
<pre class="prettyprint lang-java">                          
final int NUM = 23
final double NUM = 23.0
</pre>
                </div>
                <div class="legend">
                    <div class="active">Clase</div>
                    <div>V.2</div>
                    <div><img src="img/Anexo/frio.png" alt="" width="80px"></div>
                </div>
            </div>
            <hr>
            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">                           
<pre class="prettyprint lang-java">                          
final int numero = 23;
final double numero = 23.0;
</pre>
<pre class="prettyprint lang-java">                          
final int NUM = 23
final double NUM = 23.0
</pre>
                </div>
                <div class="legend">
                    <div class="active">V.1</div>
                    <div>V.2</div>
                    <div><img src="img/Anexo/frio.png" alt="" width="80px"></div>
                </div>
            </div>
            <hr>
            <div class="card_effect no_carrusel"> 
<pre  class="prettyprint lang-java">                          
int int numero = 23;
double numero = 23.0;
</pre>
            </div>  
            <hr>
            <div class="card_effect no_carrusel"> 
<pre class="prettyprint lang-java">                          
String cadena = '23'; 
</pre>
            </div> 
            <hr>
            <div class="card_effect no_carrusel"> 
<pre class="prettyprint lang-java">                          
String cadena = '23'; 
</pre>
            </div>       
        </div>
    <button class="avanzar">&gt;</button>
</div>