<div class="columna" id="box2">
    <button class="retroceder">&lt;</button>
        <div class="lenguaje">
            <h2>TypeScript</h2>
            <img src="{{ .Site.BaseURL }}/typescript.webp" width="80px" alt="">
            <table border="1">
                <tbody>
                    <tr>
                        <th>Aspecto</th>
                        <td>Superset de JavaScript</td>
                    </tr>
                    <tr>
                        <th>Compilador</th>
                        <td>No es compilado, es interpretado</td>
                    </tr>
                    <tr>
                        <th>Creador</th>
                        <td>Rasmus Lerdorf</td>
                    </tr>
                    <tr>
                        <th>Fecha de Creación</th>
                        <td>1994</td>
                    </tr>
                    <tr>
                        <th>Versión</th>
                        <td>PHP 8</td>
                    </tr>
                    <tr>
                        <th>Licencia</th>
                        <td>PHP License</td>
                    </tr>
                    <tr>
                    <th>Tipado</th>
                    <td>Flexible (Casting implícito)</td>
                    </tr>
                    <tr>
                    <th>Paradigma</th>
                    <td>Imperativo</td>
                    </tr>
                    <tr>
                    <th>Orientación</th>
                    <td>Objetos</td>
                    </tr>
                    <tr>
                    <th>Sintáxis</th>
                    <td>Case sensitive</td>
                    </tr>
                    <tr>
                    <th>Notas</th>
                    <td>La diferencia entre ámbitos en las variables es tan marcada que casi se consideran archivos distintos, para que no se modifiquen tus varaibles iniciales</td>
                    </tr>
                </tbody>
            </table>    

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">                                       
                    <pre class="prettyprint lang-typescript">&lt;script&gt;                          
    class Vehiculo { // Superclase

        // Atributos/Campos de Objeto
        private color: string;
        protected ruedas: number;
        motor: string; // Si no se especifica es público por defecto en TypeScript

        // Atributos/Campos de Clase
        private static tipoVehiculo: string = "Terrestre";

        // Constructor
        constructor(color: string) {
            this.ruedas = 4;
            this.color = color;
        }

        // Métodos/funciones de Objeto
        arrancar(): void {
            console.log("Arranca\n");
        }

        tipoMotor(motor: string): void {
            this.motor = motor;
            console.log("El motor del coche es " + this.motor + "\n");
        }

        get colorVehiculo(): string {
            return this.color;
        }

        get numRuedas(): number {
            return this.ruedas;
        }

        // Métodos/funciones de Clase
        static setTipoVehiculo(tipoVehiculo: string): void {
            Vehiculo.tipoVehiculo = tipoVehiculo;
        }

        static getTipoVehiculo(): string {
            return Vehiculo.tipoVehiculo;
        }
    }

    class Coche extends Vehiculo {

        // Constructor
        constructor(color: string) {
            super(color);
        }

        // Métodos/funciones de Objeto
        arrancar_hijo(): void {
            super.arrancar(); // Llama al método del padre
            console.log("El motor ruge como el de un coche\n");
        }

        // Sobreescritura del método tipoMotor
        tipoMotor(motorCoche: string): void {
            this.motor = motorCoche; // Ten en cuenta que "motor" es un atributo del padre
            console.log("El motor del coche es " + this.motor + "\n");
        }
    }
&lt;/script&gt;                       






                    </pre> 
                    <pre class="prettyprint lang-typescript"> 
    // IDEM Javascript

                    </pre>  
                </div>
                <div class="legend">
                    <div class="active">Clase</div>
                    <div>Instanciar</div>
                </div>
            </div>
         
            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">  
                    <pre class="prettyprint lang-typescript">&lt;script&gt;                            
    // Llamada a función
    function mi_funcion(): string {
        // code
        return "resultado"; // Opcional
    }
    mi_funcion();

    // Llamada a función con paso de parámetros
    // Recuerda que el ámbito local de la variable está aislado del exterior (a diferencia de JavaScript)
    function mi_funcion_con_parametros(parametro1: string, parametro2: string): void {
        // code
    }
    mi_funcion_con_parametros("ejemplo_parametro", "ejemplo_parametro_2");

    // Llamada a función con paso de parámetro por defecto
    // Recuerda que el ámbito local de la variable está aislado del exterior (a diferencia de JavaScript)
    function mi_funcion_default(parametro1: string, parametro2: boolean = true): string {
        
        parametro1 = parametro1.toLowerCase();

        if (parametro2) {
            return parametro1.charAt(0).toUpperCase() + parametro1.slice(1);
        } else {
            return "has modificado el parámetro por defecto";
        }
    }
    mi_funcion_default("ejemplo_parametro");
    mi_funcion_default("ejemplo_parametro", false);

    // Llamada a función con paso de parámetro por valor
    function incrementa(param: number): number {
        param++;
        return param;
    }
    let num: number = 5;
    console.log(incrementa(num)); // 6
    console.log(num); // 5
&lt;/script&gt;   








                    </pre>

                    <pre class="prettyprint lang-typescript">   
----
                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Funciones</div>
                    <div>---</div>
                </div>
            </div> 
            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="1">                                       
                    <pre class="prettyprint lang-typescript"> 
// readonly...







                    </pre> 
                </div>
                <div class="legend">
                    <div class="active">Constante</div>
                </div>
            </div>

            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="3">                                       
                    <pre class="prettyprint lang-typescript">

let numero: number = 23;    

let numero: number, numero2: number, numero3: number;

let numero: number = 20, numero2: number = 22, numero3: number = 23;

                    </pre>
                    <pre class="prettyprint lang-typescript">     
let cadena: string = "5"; 

let resultado: number = Number(cadena); // Se castea con una función predefinida

let resultado: number = parseInt(cadena); // Se castea con una función predefinida
                    </pre>
                    <pre class="prettyprint lang-typescript">    
-
                    </pre>
                </div> 
            <div class="legend">
                <div class="active">Numericos</div>
                <div>Castear numericos</div> 
                <div>Funciones predefinidas</div>                       
            </div>
        </div>


            <hr>

        <div class="card_effect"> 
            <div class="carrusel-images" data-num="3">                                       
                <pre class="prettyprint lang-typescript"> 
let cadena: string;
cadena = "23";

let cadena1: string = "23";

let cadena2: string, cadena3: string;

let cadena4: string = "20", cadena5: string = "22", cadena6: string = "23";

// Propiedades ====================
console.log(cadena.length); // Propiedad de cadena, no de array
                    
                </pre>
                <pre class="prettyprint lang-typescript">     
$num = 5
$resultado = $num . "" //truco para castear a string
                </pre>
                <pre class="prettyprint lang-typescript">    
-



                </pre>
            </div> 
            <div class="legend">
                <div class="active">Cadena de carácteres</div>
                <div>Castear a String</div>
                <div>Funciones predefinidas</div>
            </div>
        </div>
        
        <hr> 

        <div class="card_effect"> 
            <div class="carrusel-images" data-num="3">  
                <pre class="prettyprint lang-typescript">
-







                </pre>
                <pre class="prettyprint lang-typescript">   
-



                </pre>
                <pre class="prettyprint lang-typescript">   
-



                </pre>
            </div>
            <div class="legend">
                <div class="active">Variables de Arrays</div>
                <div>Funciones predefinidas</div> 
                <div>-</div>   
            </div>
        </div> 

        <hr>

        
        <div class="card_effect"> 
            <div class="carrusel-images" data-num="2">  
                <pre class="prettyprint lang-typescript">
let empleados = ['Juan','Antonio','Pepe']
let empleados: Array&lt;Strings> = ['Juan','Antonio','Pepe']
let empleados: Strings[] = ['Juan','Antonio','Pepe']


let estado = (empelado) => {
    console.log(`El empleado se llama ${empelado}`)
}
let estado = (empelado:string) : void => {
    console.log(`El empleado se llama ${empelado}`)
}


//Por cada elemento en el array...
let empleados.map( nombre => { estado(nombre) })
let empleados.map( (nombre:string) :void  => { estado(nombre) })




                </pre>
                <pre class="prettyprint lang-typescript"> 
-
                </pre>
            </div>
            <div class="legend">
                <div class="active">Variables de funciones</div>
                <div>-</div>
            </div>
        </div> 

        <hr>

        <div class="card_effect"> 
            <div class="carrusel-images" data-num="2">  
                <pre class="prettyprint lang-typescript">                          
console.log("hola mundo"); 
                    </pre>

                    <pre class="prettyprint lang-typescript">   
let mensaje = "Hola mundo"
typeof //'Hola mundo'

                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Datos de salida</div>
                    <div>Funciones predefinidas</div>
                </div>
            </div> 
            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="3">  
                    <pre class="prettyprint lang-typescript">                          
if($edad>=18){
echo "Eres mayor de edad";
}else{
echo "No puedes entrar";
} 

// Ojo con el orden de los operadores en las sentencias
$variable_1 = true
$variable_1 = false

$valor = $variable_1 && $variable_1 
if($valor){
echo "Si";
}else{
echo "No"; //Entra aqui
}      

$valor = $variable_1 and $variable_1 
if($valor){
echo "Si"; //Entra aqui (debido a que '=' se evalua antes que 'and')
}else{
echo "No"; 
}      








                    </pre>

                    <pre class="prettyprint lang-typescript">   
// Con el operador ternatio puedes guardarlo directamente en un variable o en un echo
$resultado = $edad&lt;18 ? "Eres menor de edad" : "Eres mayor de edad";
echo  $resultado;                    

echo $usuario=="Pepe" && $edad&lt;18 ? "Eres menor de edad" : "Eres mayor de edad";
                    </pre>
                    <pre class="prettyprint lang-typescript">   
//Con llaves
switch($variable){
case "Juan":
//code
break;
case "Pepe":
//code
break;
case "Antonio":
//code
break;
default:
//code
}

$var1 = "Pepe"
$var2 = 123
switch(true){
case $var1=="Juan" && $var2== 222:
//code
break;
case $var1=="Pepe" && $var2== 123:
//code
break;
case $var1=="Antonio" && $var2== 432:
//code
break;
default:
//code
}

//Sin llaves
switch($variable):
case 1:
//code
break;
case 2:
//code
break;
case 3:
//code
break;
default:
//code
endswitch









                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Condición if</div>
                    <div>Operador ternario</div>
                    <div>Switch Case</div>
                </div>
            </div> 

            <hr>   

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">  
                    <pre class="prettyprint lang-typescript">                          
$var = 1
while($var&lt;3){
$var++
}
                    </pre>
                    <pre class="prettyprint lang-typescript">   
$var = 1
Do{
$var++
}while($var&lt;3)
                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Bucle indeterminado: While</div>
                    <div>Bucle indeterminado: Do while</div>
                </div>
            </div> 



            <hr>   

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="3">  
                    <pre class="prettyprint lang-typescript"> 
// Mientras la condición: $i&lt;= $variable.lenght; sea verdadera, el bucle se activará                                                        
for($i = 0; $i&lt;= 10; $i++){
//i valdrá: 11
}

for($i = 0; $i&lt;= 10 - 1; $i++){
//i valdrá: 10
}

for($i = 0; $i&lt; 10 - 1; $i++){
//i valdrá: 10
}

for($i = 0; $i&lt; 10 - 1; $i++){
if($i==5){
break; // Sale del bucle
}
}
for($i = 0; $i&lt; 10 - 1; $i++){
if($i==5){
continue; // Salta a la siguiente iteracion sin continuar con esta
}
echo "blablabal" // Esta intruccion no se ejecutará si se aplica continue
}

//=========================
$datos = array("Nombre"=> "Pepe",
  "Apellidos" => "Serrano Pérez",
  "Número_teléfono" => 123456789);
  
//Recorrer un Array indexado
for($i = 0; $i < count($datos); $i++){
echo $datos[$i] .  "&lt;br>";
}









                    </pre>
                    <pre class="prettyprint lang-typescript">
//Recorrer un Array asociativo de una dimensión================== 
$datos = array("Nombre"=> "Pepe",
"Apellidos" => "Serrano Pérez",
"Número_teléfono" => 123456789);

foreach($datos as $clave => $valor){
echo "El índice es $clave y su valor es: $valor &lt;br>";
}

//Recorrer un Array asociativo de dos dimensiónes================== 
$alimentos = array("fruta"=>array("tropical"=>"kiwi"),
                   "cítrico"=>"mandarina",
                   "otros"=>"manzana"),

           "leche"=>array("animal"=>"vaca",
                          "vegetal"=>"coco"),
                          
           "carne"=>array("vacuno"=>"lomo",
                          "porcino"=>"pata"));

foreach($alimentos as $clave => $array_valores){

echo "$clave: &lt;br>";

/* La función each está en desuso
while(list($clave_2,$valor_2)=each($array_valores)){
echo "$clave_2 = $valor_2 &lt;br>";
} */

foreach( $array_valores as $clave_2 => $valor){
echo "$clave_2 = $valor &lt;br>";
}

echo "+++++++ separador +++++++":
}
//---------------------
echo var_dump($alimentos) //Función predefinida que desglosa el array







                    </pre>
                    <pre class="prettyprint lang-typescript">
$datos = ["Nombre"=> "Pepe",
    "Apellidos" => "Serrano Pérez",
    "Número_teléfono" => 123456789];

is_array($datos) //boolean



                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Bucle determinado: For</div>
                    <div>Bucle determinado: For. v.2</div>
                    <div>Fución predefinada</div>
                </div>
            </div>    

        </div>
    <button class="avanzar">&gt;</button>
</div>