<div class="columna" id="box1">
    <button class="retroceder">&lt;</button>
        <div class="lenguaje">   
            <h2>JavaScript</h2>
            <img src="{{ .Site.BaseURL }}/javascript.png" width="80px" alt="">
            <table border="1">
                <tbody>
                  <tr>
                    <th>Aspecto</th>
                    <td>Lenguaje de Programación JavaScript</td>
                  </tr>
                  <tr>
                    <th>Compilador</th>
                    <td>No es compilado, es interpretado</td>
                  </tr>
                  <tr>
                    <th>Creador</th>
                    <td>Brendan Eich</td>
                  </tr>
                  <tr>
                    <th>Fecha de Creación</th>
                    <td>1995</td>
                  </tr>
                  <tr>
                    <th>Versión</th>
                    <td>ECMAScript 6 (ES6)</td>
                  </tr>
                  <tr>
                    <th>Licencia</th>
                    <td>Varía por implementación (por ejemplo, Mozilla Public License)</td>
                  </tr>
                  <tr>
                    <th>Tipado</th>
                    <td>Débil (no se indica el tipo) y dinámico (puede cambair su tipo)</td>
                  </tr>
                  <tr>
                    <th>Paradigma</th>
                    <td>Multiparadigma</td>
                  </tr>
                  <tr>
                    <th>Orientación</th>
                    <td>Objetos y Procesos</td>
                  </tr>
                  <tr>
                    <th>Sintáxis</th>
                    <td>Case sensitive</td>
                  </tr>
                  <tr>
                    <th>Notas</th>
                    <td>
                        <ul>
                            <li>Ten en cuenta el orden de ejecución al cargar el DOM</li>
                            <li>Recuerda que script puede ir en cualquier sitio, incluso dentro de un h1</li>
                            <li>El ; es opcional</li>
                        </ul>
                    </td>
                  </tr>
                </tbody>
            </table>     
            
            <div class="card_effect"> 
                <div class="carrusel-images" data-num="3">                                       
                    <pre class="prettyprint lang-javascript">                          
const numero = 23;

                    </pre> 
                    <pre class="prettyprint lang-javascript">                          
const int NUM = 23
const double NUM = 23.0



const GenerateRandomNumber = max => {
returnMath.floor(Math.random() * (max + 1));
};  
const randomNumber = GenerateRandomNumber(10)

const GenerateRandomNumber = (min, max) => {
return Math.floor(Math.random() * (max+1 - min) + min);
};
const randomNumber = GenerateRandomNumber(10, 20)

console.log(randomNumber)
                    </pre>  
                    <pre class="prettyprint lang-javascript">                          
const int NUM = 23
const double NUM = 23.0



const GenerateRandomNumber = max => {
returnMath.floor(Math.random() * (max + 1));
};  
const randomNumber = GenerateRandomNumber(10)

const GenerateRandomNumber = (min, max) => {
return Math.floor(Math.random() * (max+1 - min) + min);
};
const randomNumber = GenerateRandomNumber(10, 20)

console.log(randomNumber)
                    </pre>   
                </div>
                <div class="legend">
                    <div class="active">Clase</div>
                    <div>V.2</div>
                    <div><img src="img/Anexo/frio.png" alt="" width="80px"></div>
                </div>
            </div>

            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">  
                    <pre class="prettyprint lang-javascript">                          
//Llamada a función normal                                                
function mi_funcion(){
var hoy = new Date();
docuemnt.write(hoy)
}
&lt;p&gt;El dia de hoy es: &lt;script&gt;mi_funcion();&lt;/script&gt; &lt;/p&gt;


//Paso de parametro
//Recuerda que el ambito local de la variable NO esta aislada del exterior (no como en php)
function mi_funcion(parametro){

}
function("ejemplo_parametro");
                    </pre>

                    <pre class="prettyprint lang-javascript">   
$random = Math.round(); //redondea
                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Funciones</div>
                    <div>Funciones predefinidas</div>
                </div>
            </div> 

            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="3">                                       
                    <pre class="prettyprint lang-javascript">                          
const numero = 23;

                    </pre> 
                    <pre class="prettyprint lang-javascript">                          
const int NUM = 23
const double NUM = 23.0



const GenerateRandomNumber = max => {
returnMath.floor(Math.random() * (max + 1));
};  
const randomNumber = GenerateRandomNumber(10)

const GenerateRandomNumber = (min, max) => {
return Math.floor(Math.random() * (max+1 - min) + min);
};
const randomNumber = GenerateRandomNumber(10, 20)

console.log(randomNumber)
                    </pre>  
                    <pre class="prettyprint lang-javascript">                          
const int NUM = 23
const double NUM = 23.0



const GenerateRandomNumber = max => {
returnMath.floor(Math.random() * (max + 1));
};  
const randomNumber = GenerateRandomNumber(10)

const GenerateRandomNumber = (min, max) => {
return Math.floor(Math.random() * (max+1 - min) + min);
};
const randomNumber = GenerateRandomNumber(10, 20)

console.log(randomNumber)
                    </pre>   
                </div>
                <div class="legend">
                    <div class="active">V.1</div>
                    <div>V.2</div>
                    <div><img src="img/Anexo/frio.png" alt="" width="80px"></div>
                </div>
            </div>
            <hr>
            <div class="card_effect"> 
                <div class="carrusel-images" data-num="3">                                       
                    <pre class="prettyprint lang-javascript"> 
var numero;
numero = 23;
//======================== 
var numero = 23;
//======================== 
var numero,numero2,numero3;
//======================== 
var numero = 20 ,numero2= 22 ,numero3= 23;
                    </pre>
                    <pre class="prettyprint lang-javascript">     
var cadena = "5"
var resultado = Number(cadena) //Se castea con una funcion predefinida
var resultado = parseInt(cadena) //Se castea con una funcion predefinida
                    </pre>
                    <pre class="prettyprint lang-javascript">     
let num = 5
isNan(num)
                    </pre>
                </div> 
            <div class="legend">
                <div class="active">Numericos</div>
                <div>Castear numericos</div> 
                <div>Funciones predefinidas</div>                       
            </div>
        </div>

        <hr>

        <div class="card_effect"> 
            <div class="carrusel-images" data-num="3">                                       
                <pre class="prettyprint lang-javascript">                         
var cadena ;
cadena = "23";
//======================== 
var cadena = "23";
//======================== 
var cadena,cadena2,cadena3;
//======================== 
var cadena = "20" ,cadena2= "22" ,cadena3= "23";

//Propiedades ====================
consle.log(nombre.lenght) //Propiedad de array
                </pre>                      
                <pre class="prettyprint lang-javascript">     
?
                </pre>
                <pre class="prettyprint lang-javascript">  
let cadena = "Hola Mundo"                          
                    
//Metodos ======================== 
console.log(cadena.toUpperCase());
console.log(cadena.toLowerCase());
console.log(cadena.IndexOf('string')) //0 la primera coincidencia es la "s"
console.log(cadena.IndexOf('s')) //0
console.log(cadena.include('s')) //true
console.log(cadena.include('s',6)) //true
console.log(cadena.replace('ejemplo','reemplazado'))
console.log(cadena.substring(3)) // ing ejemplo
console.log(cadena.substring(3,8)) // ing e
console.log(cadena.slice(3)) // ing ejemplo
console.log(cadena.slice(-3)) // mplo
console.log(cadena.slice(0,-7)) // ejmplo
console.log(cadena.trim()) // elimina los espacios            
console.log(cadena.startsWith('s')) // true
console.log(cadena.startsWith('e',7)) // true
console.log(cadena.endsWith('s')) //true
console.log(cadena.endsWith('e',7)) //true
console.log(cadena.endsWith('ejemplo')) //true
console.log(cadena.repeat(3)) 
console.log('cadena'.repeat(3)) 

// los metodos no modifican la cedena original (porque se pasan por valor), oberva que si ponemos:
console.log(cadena) //esta tal cual como la declaramos al principio








                </pre>
            </div> 
            <div class="legend">
                <div class="active">Cadena de carácteres</div>
                <div>Castear a String</div> 
                <div>Funciones predefinidas</div>                     
            </div>
        </div>

            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="3">  
                    <pre class="prettyprint lang-javascript">
//En JavaScript los Arrays permiten alamacenar distintos tipos de datos 

var lista_compra = []; 

//opción 1
var lista_compra = ["tomates","leche",23,true,"pollo"]; 
//opción 2
var lista_compra = new Array("tomates","leche",23,true,"pollo"); 

//Propiedades ====================
consle.log(lista_compra.lenght) 
                    </pre>
                    <pre class="prettyprint lang-javascript"> 
var lista_compra = ["tomates","leche",23];

lista_compra.push("huevo","pescado",false) //Agrega al final
lista_compra.unshif("huevo","pescado",false) //Agrega delante

lista_compra.pop() //Elimina final
lista_compra.shif() //Elimina delante
                    </pre>
                    <pre class="prettyprint lang-javascript"> 
const GenerateRandomNumber = max => {
returnMath.floor(Math.random() * (max + 1));
};  
const randomNumber = GenerateRandomNumber(10)

const GenerateRandomNumber = (min, max) => {
return Math.floor(Math.random() * (max+1 - min) + min);
};
const randomNumber = GenerateRandomNumber(10, 20)

console.log(randomNumber)
                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Variables de Arrays</div>
                    <div>Funciones de Arrays</div>
                </div>
            </div> 

            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">  
                    <pre class="prettyprint lang-javascript">
const GenerateRandomNumber = max => {
returnMath.floor(Math.random() * (max + 1));
};  
const randomNumber = GenerateRandomNumber(10)

const GenerateRandomNumber = (min, max) => {
return Math.floor(Math.random() * (max+1 - min) + min);
};
const randomNumber = GenerateRandomNumber(10, 20)

console.log(randomNumber)
                    </pre>
                    <pre class="prettyprint lang-javascript"> 
-
                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Variables de funciones</div>
                    <div>-</div>
                </div>
            </div> 

            <hr>

            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">  
                    <pre class="prettyprint javascript"> 
// En consola =========                                                        
console.log("hola mundo"); 
                    </pre>

                    <pre class="prettyprint javascript">   
// En documento =========                                                        
document.write("hola mundo"); 

document.write("&lt;p&gt;"); 
document.write("hola mundo"); 
document.write("&lt;/p&gt;"); 

document.write("&lt;p&gt;" + "hola mundo" + "&lt;/p&gt;"); 

// ========= 
window.alert("hola mundo"); //ventana modal, detiene el flujo de ejecución en este punto
alert("hola mundo");  //El objeto window se puede omitir porque ya se da por hecho que esta

// Datos de salida ========= 
window.prompt("Introduce cadena");  //El objeto window se puede omitir porque ya se da por hecho que esta

respuesta = prompt("Introduce cadena");
respuesta = prompt("Introduce cadena","texto opcional de placeholder");
respuesta = prompt("Introduce cadena").toLowerCase();
array.push(prompt("Introduce cadena"));  

// ========= 
if (typeof(num) == "string")







                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Datos de salida</div>
                    <div>Funciones predefinidas</div>
                </div>
            </div> 

                <hr>

                <div class="card_effect"> 
                    <div class="carrusel-images" data-num="3">  
                        <pre class="prettyprint lang-javascript">                          
if(edad >= 18){
console.log("Eres mayor de edad");
}else{
console.log("No puedes entrar");
} 



                    </pre>

                    <pre class="prettyprint lang-javascript">   
// Con el operador ternatio puedes guardarlo directamente en un variable o en un echo
resultado = edad&lt;18 ? "Eres menor de edad" : "Eres mayor de edad";
console.log(resultado);                    

console.log(usuario=="Pepe" && $edad&lt;18 ? "Eres menor de edad" : "Eres mayor de edad");
                    </pre>
                    <pre class="prettyprint lang-javascript">   
//Con llaves
switch($variable){
case "Juan":
//code
break;
case "Pepe":
//code
break;
case "Antonio":
//code
break;
default:
//code
}

$var1 = "Pepe"
$var2 = 123
switch(true){
case $var1=="Juan" && $var2== 222:
//code
break;
case $var1=="Pepe" && $var2== 123:
//code
break;
case $var1=="Antonio" && $var2== 432:
//code
break;
default:
//code
}

//Sin llaves
switch($variable):
case 1:
//code
break;
case 2:
//code
break;
case 3:
//code
break;
default:
//code
endswitch









                        </pre>
                    </div>
                    <div class="legend">
                        <div class="active">Condición if</div>
                        <div>Operador ternario</div>
                        <div>Switch Case</div>
                    </div>
                </div> 

                <hr>


                
            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">  
                    <pre class="prettyprint lang-javascript">                          
var edad
while(edad &lt;= 0 || edad &gt; 105){
edad = prompt("Introduce edad válida")
}
                    </pre>
                    <pre class="prettyprint lang-javascript">   
var edad
Do{
edad = prompt("Introduce edad válida")
}while(edad &lt;= 0 || edad &gt; 105 || isNaN(edad))
</pre>
                </div>
                <div class="legend">
                    <div class="active">Bucle indeterminado: While</div>
                    <div>Bucle indeterminado: Do while</div>
                </div>
            </div> 



            <hr>
            <div class="card_effect"> 
                <div class="carrusel-images" data-num="2">  
                    <pre class="prettyprint lang-php"> 
                                                      
for(let i = 0; i&lt;= 10; i++){
//i valdrá: 11
}

                    </pre>
                    <pre class="prettyprint lang-php">   
const numeros = [1,2,3,4,5]
numeros.forEach(number=>console.log(number))
// 1
// 2
// ...

                    </pre>
                </div>
                <div class="legend">
                    <div class="active">Bucle determinado: For</div>
                    <div>Bucle determinado: ForEach</div>
                </div>
            </div>

        </div>
    <button class="avanzar">&gt;</button>
</div>