
<style>
    #tipos_display{
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #tipos_display > div{
        width: 30%;
        /* height: 150px; */
        font-size: 12px;
    }
    #tipos_display p{
        margin: 0px;
    }
    #tipos_display > div > p:first-of-type,
    .none >  p:first-of-type{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }
    #tipos_display > div > div:first-of-type{
        display: flex;
        justify-content: space-between;
    }
   

    .margin{
        background-color: yellow;
        padding: 10px;
    }
    .outline{
        border: 2px dashed blueviolet;
        padding: 10px;
    }
    .borde{
        border: 1px solid black;
        padding: 10px;
    }
    .padding{
        background-color: orange;
        padding: 10px;
    }
    .content span{
        font-weight: bold;
    }
    .content{
        background-color: gray;
        padding: 10px;
    }

 
    span{
        font-weight: bold;
    }


   

</style>

<div id="tipos_display">
    <div class="block">
        <p>Block</p>
        <div>
            <p><abbr title="Se aplica sobre el elemento, no el contenido">Margen</abbr></p>
            <p>Horizontal ✅  Vertical ✅</p>
        </div>
        <div class="margin">
            <p>Outline (No ocupa espacio)</p>
            <div class="outline">
                <p>Borde</p>
                <div class="borde">
                    <p>Padding</p>
                    <div class="padding">
                        <p>Contenido</p>
                        <div class="content">
                            <ul>                                             
                                <li><span><abbr title="Las cajas vacias tendrán una altura de 0 y no se verán">Dimensiones:</abbr></span> Todo el ancho disponible</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inblock">
        <p>Inline-Block</p>
        <div>
            <p><abbr title="Se aplica sobre el elemento, no el contenido">Margen</abbr></p>
            <p>Horizontal ✅  Vertical ✅</p>
        </div>
        <div class="margin">
            <p>Outline</p>
            <div class="outline">
                <p>Borde</p>
                <div class="borde">
                    <p>Padding</p>
                    <div class="padding">
                        <p>Contenido</p>
                        <div class="content">
                            <ul>
                                <li><span><abbr title="Las cajas vacias tendrán una altura de 0 y no se verán">Dimensiones:</abbr></span> Todo el ancho disponible y se puede modificar</li>
                                <li><span> Responsive:</span> se adapta al ancho de la pantalla <br></li>
                            </ul>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inline">
        <p><abbr title="Con display: absolute, los elementos inline se vuelven block">Inline</abbr></p>
        <div>
            <p><abbr title="Se aplica sobre el elemento, no el contenido">Margen</abbr></p>
            <p>Horizontal ✅  Vertical ❌</p>
        </div>
        <div class="margin">
            <p>Outline</p>
            <div class="outline">
                <p>Borde</p>
                <div class="borde">
                    <p>Padding</p>
                    <div class="padding">
                        <p>Contenido</p>
                        <div class="content">
                            <ul>
                                <li><span><abbr title="Las cajas vacias tendrán una altura de 0 y no se verán">Dimensiones:</abbr></span> Su tamaño lo determina su contenido y no se puede modificar</li>
                                <li><span>Responsive:</span> se acomodan los elementos uno debajo del otro</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="none">
    <p>None</p>
</div>
<div class="nota">
    <ul>
        <li>Oculta el contenido</li>
        <li>No ocupa espacio de elemento</li>
        <li>Aparece en el html, por lo que navegador lo carga aunque no se vea</li>
    </ul>
</div>


<div class="separador">
    <h4>Medidas</h4>
</div>

<div class="nota">
    <p>
        Por defecto, los navegadores tenen font-size: 16px como tamaño de fuente porque equivalen aproximadamente a los 12 puntos
        de tamaño que se utiliza en imprenta (el cual es el tamaño al que el ojo humano está acostumbrado)
    </p>
</div>       

<div class="medidas">
    <ul>
        <p><span>Absolutas</span></p>
        <li>1px = 1/96 de 1in</li>
        <li>1cm = 96px/2,54</li>
        <li>1mm = 1/10 de 1cm</li>
        <li>1Q (cuarto de milimetro) = 1/40 de 1cm</li>
        <li>1in (inches) = 2,54cm = 96px</li>
        <li>1pc (picas) = 1/16 de 1in </li>
        <li>1pt (puntos) = 1/72 de 1in</li>
    </ul>
    
    <ul>
        <p><span>Relativas (dependen del contexto)</span></p>
        <li>1rem = 16px (corresponde a la medida de la "m"(en imprenta es la letra que mas ocupa) de la raiz del documento: html)</li>
        <li>em = font-size: x (corresponde a la medida de la "m"(en imprenta es la letra que mas ocupa) del contexto donde nos encontramos)</li>
        <li>% (respecto a al contenedor que lo contiene) </li>
        <li>width:100% (al añadir margin, la caja seguira midendo el 100%) vs width:auto (al añadir margin, se reajustará para no salirse)</li>
        <li>vw (viewport width)</li>
        <li>vh (viewport height)</li>
        <li>vmin</li>
        <li>vmax</li>
        <li>ex (altura x de la fuente del elemento)</li>
        <li>ch (la medida del ancho del glifo "0" de la letra del elemento)</li>
        <li>lh (altura de la linea del elemento)</li>
    </ul>
</div>


