
<style>
    div.contenedor{
        outline: 2px solid tomato; 
    /*  border: 3px solid blue;  <-- Border, al ocupar espacio [🔴], solucionaria el problema de solapamiento de margenes */

        margin-top: 50px;
        background-color: #adaaaa; 

        /* Formas de solucionar el solapamiento de margenes 💡🐛
            padding: 1px; 
            border: 1px solid black; 
            overflow: hidden;
        */          
        
    }
  
    div.block_outline{

        display: block;
        background-color: Gold;
        
        width: 300px;
        height: 100px;

        outline: 3px solid red;     
        font-size: 13px;
    }

    #WARNING-1{
        font-size: 15px;
        color: red;
        margin-top: 10px;
        display: inline-block;
    }

    .ocultar{
        position: absolute;
        right: 0;
        top: 12px;
    }

   
</style>

<div class="nota">
    <p>Las cajas de abajo tienen un solapamiento de margenes, este bug solo ocurre con display Block. Se suele marginar hacia abajo.</p>
</div>

<div id="contenedor"> 
    <span id="WARNING-1" style="display: none;">Observa que al poner texto, (el cual ocupa espacio), el margen lo detecta y deja de solaparse</span>
    <button class="ocultar">Mostrar</button> 

    <div class="block_outline"  onclick="toggleBorde()">        
        Caja con outlines, vemos que sus margenes solapan a su contendor. <br>
        Hay diversas soluciones para el solapamiento, overflow, padding de 0, border de 0, etc <br>
        Clickame para aplicar un border solid, verás que asi detectará los margenes
    </div>
</div>

<div class="contenedor"> 
    <div class="block_outline"  onclick="toggleMargin(this)">
        Los elementos hermano se respetas entre si, pero no al padre<br>
        Fijate que incluso se da un solapamiento doble con el bloque de arriba.
        Clickame para aplicar margen, se pareciara el solapamiento
    </div>
    <div class="block_outline"  onclick="toggleMargin(this)">
        Observa que el solapamiento se da solo sobre el padre, sin embargo sus hermanos, al estar al mismo nivel, siempre los respetara <br>
        Clickame para aplicar margen, se pareciara el solapamiento
    </div>
    <div class="block_outline"onclick="toggleMargin(this)">Los elementos hermano se respetas entre si, pero no al padre <br>
        Clickame para aplicar margen, se pareciara el solapamiento
    </div>
</div>

<script>

    var bordeAgregado = false;

    function toggleBorde() {
        var elemento = document.getElementById('contenedor');

        if (bordeAgregado) {
            elemento.style.border = "none";
            bordeAgregado = false;
        } else {
            elemento.style.border = "3px solid black";
            bordeAgregado = true;
        }
    }

    const targetElement = document.querySelector('.ocultar');
    const siblingElement = targetElement.previousElementSibling;
    let isHidden = false;
    targetElement.addEventListener('click', function() {
        if (isHidden) {
            // Si el elemento está oculto, mostrarlo y actualizar el estado
            siblingElement.style.display = 'none';
            isHidden = false;
            targetElement.textContent = 'Mostrar'; // Actualiza el contenido de targetElement
        } else {
            // Si el elemento está visible, ocultarlo y actualizar el estado
            siblingElement.style.display = 'inline-block';
            isHidden = true;
            targetElement.textContent = 'Ocultar'; // Actualiza el contenido de targetElement
        }
    });
</script>

<script>
    document.querySelectorAll('.block_outline').forEach(function(elemento) {
        elemento.style.margin = '60px'
    });
    
    function toggleMargin(element) { 

        if (element.style.margin == '60px') {
            element.style.margin = '0';
        } else {
            element.style.margin = '60px';
        }
    }
</script>