
<style type="text/css">
#contenedor_floats{
    background-image: linear-gradient(to bottom, #3cf, #fc3);
    padding: 10px;
}
#flotanteizquierda{
    float: left;
    background: #fc3;
    width: 200px;
    padding: 10px;
}
#flotantederecha{
    float: right;
    background: #3cf;
    width: 200px;
    padding: 10px;
}

.btn{
    margin: auto;
    display: block;
}
</style>


<div id="contenedor_floats">
    <button onclick="desactivar_contenedor_de_floats()" class="btn">Desactivar el overflow del contenedor de floats</button>

    <div id="flotanteizquierda">
        Esta capa tiene un float, para alinearse a la izquierda. El problema es que el contenedor de la misma no se entera que esta capa crece mucho hacia abajo y parece como si terminase en seguida.
    </div>
    <div id="flotantederecha">
        Aquí también tenemos float, para alinearse a la derecha. Pero el contenedor donde está colocada no se entera que la capa crece hacia abajo.
    </div>
</div>


<script>
    document.getElementById('contenedor_floats').style.overflow = 'hidden';

    function desactivar_contenedor_de_floats(){
        let elemento = document.getElementById('contenedor_floats');

        if (elemento.style.overflow == 'hidden') {
            elemento.style.overflow = 'visible';
        } else {
            elemento.style.overflow = 'hidden';
        }
    }
</script>