<!-- 
╔═╗╦  ╔═╗╔═╗╔╦╗
╠╣ ║  ║ ║╠═╣ ║ 
╚  ╩═╝╚═╝╩ ╩ ╩ Font:CalvinS -->


<div class="nota">
    <p>
        Al definir un elemento como float, mantiene su posición, solo que ahora lo detecta unicamente los elementos inlines(independientemnte de lo anidados que esten) y otros floats, RECUERDA QUE NO PUEDEN CENTRARSE
    </p>
</div>       



<h2 style="text-align: center;">Display</h2>
<style>
    div
    div#Float{              
        opacity: 0.9;
        
        height: 100px;
        width: 180px;

        border: 3px solid black;
        background-color: rgba(255, 255, 0, 0.237);
    }
    div
    div#Float_r{              
        opacity: 0.9;
        color: red;
        height: 180px;
        width: 200px;

        border: 3px solid tomato;
        background-color: rgba(255, 255, 0, 0.235);
    }
    div
    div.box{
        border: 3px solid #33ccff;
        background-color: gold;
    }
</style>

<div>
    <div class="box">1º Contendor: BLOCK | Texto: INLINE</div>
    <div id="Float" class="display">2º Solo lo detectan elementos INLINE
        <button onclick="floatLeft(this)">Float left</button>
        <button onclick="floatRight(this)">Float right</button>
    </div>
    <div id="Float_r" class="display">3º Si solo flotas este, veras que el div de abajo actuara como si no existiera el float, pero el texto si lo respetara hasta el punto de salirse
        <button onclick="floatLeft(this)">Float left</button>
        <button onclick="floatRight(this)">Float right</button>
    </div>
    <div id="Float" class="display">4º Solo lo detectan elementos INLINE
        <button onclick="floatLeft(this)">Float left</button>
        <button onclick="floatRight(this)">Float right</button>
    </div>
    <div class="box">5º Contendor: BLOCK | Texto: INLINE
        <button onclick="ClearL(this)">Clear left</button>
        <button onclick="ClearR(this)">Clear Right</button>
        <button onclick="ClearB(this)">Clear Both</button>
    </div>
    <div class="box" style="display: inline-block;">6º Contendor: INLINE-BLOCK | Texto: INLINE
        <button onclick="ClearL(this)">Clear left</button>
        <button onclick="ClearR(this)">Clear Right</button>
        <button onclick="ClearB(this)">Clear Both</button>
    </div>
    <div class="box" style="display: inline-block;">7º Contendor: INLINE-BLOCK | Texto: INLINE
        <button onclick="ClearL(this)">Clear left</button>
        <button onclick="ClearR(this)">Clear Right</button>
        <button onclick="ClearB(this)">Clear Both</button>
    </div>
    <div class="box">
        8º Contendor: BLOCK | Hijo: BLOCK 
        <div style="border: 3px solid black; background-color: rgba(128, 128, 128, 0.455);">
            9º Contendor: BLOCK |Texto: INLINE (Vemos que afecta a cualquiera INLINE indpendientemente de lo anidado que este)
            <button onclick="ClearL(this)">Clear left</button>
            <button onclick="ClearR(this)">Clear Right</button>
            <button onclick="ClearB(this)">Clear Both</button>
        </div>   
    </div>              
    <div class="box" style="display: inline;">10º Contendor: INLINE| Texto: INLINE
        <button onclick="ClearL(this)">Clear left</button>
        <button onclick="ClearR(this)">Clear Right</button>
        <button onclick="ClearB(this)">Clear Both</button>
    </div>
    <div class="box" style="display: inline;">11º Contendor: INLINE | Texto: INLINE
        <button onclick="ClearL(this)">Clear left</button>
        <button onclick="ClearR(this)">Clear Right</button>
        <button onclick="ClearB(this)">Clear Both</button>
    </div>
                
</div>

<script>
    function floatLeft(button) {

    const box = button.parentNode;
        if (box.style.float === "left"){
            box.style.float = "none"
            box.style.backgroundColor = '#ffff003c';
        }else{
            box.style.float = "left"
            box.style.backgroundColor = 'cyan';
    }
    }

    function floatRight(button) {
        const box = button.parentNode;
        if (box.style.float === "right"){
            box.style.float = "none"
            box.style.backgroundColor = '#ffff003c';
        }else{
            box.style.float = "right"
            box.style.backgroundColor = 'tomato';
        }
    }

    
    function ClearB(button) {
    const box = button.parentNode;
    box.style.clear = (box.style.clear === "both") ? "none" : "both";
    }
    function ClearR(button) {
    const box = button.parentNode;
    box.style.clear = (box.style.clear === "right") ? "none" : "right";
    }
    function ClearL(button) {
    const box = button.parentNode;
    box.style.clear = (box.style.clear === "left") ? "none" : "left";
    }
</script>