<style>
  #menu{
    position: sticky;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;

    font-family: monospace;
  }

  #menu ul{
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0;

    font-size: 20px
  }

  #menu a{
    text-decoration: none;
    color: black;
  }

  #menu li{
      display: inline-block;
      margin: 10px;
      padding: 5px;
      transition: all 0.3s ease;
    background-color: #00c5e2;
    
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  #menu li:hover{ 
       background-color: black;
     
      transform: scale(1.2); /* Increase scale to 120% */
  }
  #menu li:hover > a{ 
       color: white;  
  }


  

  #menu ul .Etiquetas{
      display: inline-block;
      width: 57%;
      text-align: center;
  }
  #menu ul .Etiquetas li:nth-child(3) {
      width: 50%;
  }

  #menu ul .Codigo{
      display: inline-block;
      width: 57%;
  }
  #menu ul .Codigo li{
      display: block;
  }
  #menu ul .Codigo li:nth-child(2) {
      margin-top: 15px;
  }

</style>
<div id="menu">
  <nav>
      <ul>
          <div class="Etiquetas">
              <li><a href="{{ .Site.BaseURL }}etiquetas_html/">Etiquetas HTML</a></li>
              <!-- <li><a href="{{ .Site.BaseURL }}Selectores_CSS.html/">Selectores CSS</a></li> -->
              <li><a href="{{ .Site.BaseURL }}html-css/">CSS + HTML</a></li> 
          </div>
          <div class="Codigo">
              <li><a href="{{ .Site.BaseURL }}DOM_JAVASCRIPT/">Problemas de Javascript</a></li> 
              <li><a href="{{ .Site.BaseURL }}glosario/">Guia de códigos</a></li>
          </div>
      </ul>
  </nav>
</div>
