<style>
  #menu{
    position: sticky;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  nav ul{
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0;
  }

  nav a{
    text-decoration: none;
    color: black;
  }

  nav li{
      display: inline-block;
      margin: 10px;
      padding: 5px;
      transition: all 0.3s ease;
    background-color: #00c5e2;
    
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  nav li:hover{ 
       background-color: black;
     
      transform: scale(1.2); /* Increase scale to 120% */
  }
  nav li:hover > a{ 
       color: white;  
  }


  

  ul .Etiquetas{
      display: inline-block;
      width: 50%;
      text-align: center;
  }
  ul .Etiquetas li:nth-child(3) {
      width: 50%;
  }

  nav ul .Codigo{
      display: inline-block;
  }
  nav ul .Codigo li{
      display: block;
  }

</style>
<div id="menu">
  <nav>
      <ul>
          <div class="Etiquetas">
              <li><a href="{{ .Site.BaseURL }}Etiquetas_HTML.html/">Etiquetas HTML</a></li>
              <li><a href="{{ .Site.BaseURL }}Selectores_CSS.html/">Selectores CSS</a></li>
              <li><a href="{{ .Site.BaseURL }}html-css/">CSS + HTML</a></li> 
          </div>
          <div class="Codigo">
              <li><a href="{{ .Site.BaseURL }}DOM_JAVASCRIPT.html/">Problemas de Javascript</a></li>
              <li><a href="{{ .Site.BaseURL }}glosario/">Glosario de codigos de programación</a></li>
          </div>
      </ul>
  </nav>
</div>
