{{ define "main" }}

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&family=Cardo&family=Handjet:wght@300&family=Lato&family=Lilita+One&family=Lora:ital,wght@1,500&family=Monoton&family=Nunito&family=Oswald:wght@700&family=VT323&family=Victor+Mono:wght@100&family=Yatra+One&display=swap");

    .card {
      margin: auto;
      color: #fff;
      background: radial-gradient(#282727, #476257);
      padding: 1em;
      width: 700px;
      height: 350px;
      display: flex;
      
      align-items: center;
      justify-content: center;
      background: rgba(168, 158, 158, 0.358);
      box-shadow: 0 0px 18px 0 #00c5e2;
      backdrop-filter: blur(7.5px);
      -webkit-backdrop-filter: blur(7.5px);
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      letter-spacing: 1.5px;

      font-family: "VT323", monospace;
    }

    .card .profile-row {
      color: #ecfcfb;
      text-shadow: 0px 0px 4px #00c5e2;
      font-weight: 300;
      margin-left: 34px;
      margin-right: 21px;
      font-size: 20px;
    }

    .card .profile-row a {
      color: #00c5e2;
    }

    .card .profile-row h1{
      margin-bottom: 20px;
    }

   

  </style>
  <div class="glitch">
    <div class="card">
      <div class="profile-row">
        <h1>Saludos, curioso.</h1> 
        <p>
          Soy <a href="">@RubHl</a>, he desarrollado este sitio web con y para fines didácticos. Este proyecto ha servido 
          para poner en práctica mis conocimientos en desarrollo web y poder recopilar información útil a
          lo largo de mi aprendizaje. Se ha convertido en una pequeña guía donde se puede consultar cuestiones relacionadas con la programación. 
          <br><br>Espero que te sea de utilidad si estas aprendiendo y gracias por tu visita.
        </p>
      </div>
    </div>
  </div>

{{ end }}